@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;

@layer base {
  *,*::before,*::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    font-family: inherit;
  }
  
  html {
    color-scheme: dark light;
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    @apply bg-black;
    background-attachment: fixed;
  }

  h1 { @apply text-3xl }

  img, picture, svg, video { @apply block max-w-full }
  img { @apply flex justify-center items-center text-current }
  
  a {
    text-decoration: none;
    @apply text-current;
  }

  #app {
    @apply min-h-screen bg-fixed text-white;
    @apply flex flex-col;
  }
}

@tailwind utilities;

@media (prefers-reduced-motion: reduce) {
  *,*::before,*::after {
    animation-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
